//
//  Production.xcconfig
//  My Demo App
//
//  Created by Mohammad Gouse Jani on 02/12/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Production Environment Configurations

MOCK_DATA = "production_data"  // Use the mock data file for production
SIMULATOR = "iPhone 16 Pro"        // Simulator for Production (change as needed)
LOGGING_ENABLED = false        // Disable logging for production
