//
//  Staging.xcconfig
//  My Demo App
//
//  Created by Mohammad Gouse Jani on 02/12/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// Staging Environment Configurations

MOCK_DATA = "staging_data"  // Use the mock data file for staging
SIMULATOR = "iPhone 16"     // Simulator for Staging (change as needed)
LOGGING_ENABLED = true      // Enable logging for staging
